---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import BottomBar from "../components/BottomBar.astro";
import Map from "../components/Map.astro";
---

<Layout title="MiBondi Córdoba - Aplicacion de colectivos de Córdoba Capital.">
  <Header />
  <main class="flex-1">
    <Map />
  </main>
  <BottomBar />
</Layout>
